.cart-container img {
  width: 50px;
  height: 50px;

  border-radius: 10%;
  margin-right: 10px;
}
.cart-container{
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
